<IfModule mod_rewrite.c>        
    Options +FollowSymlinks
  # Options +SymLinksIfOwnerMatch
    RewriteEngine On
#    RewriteBase /ventana-educativa/
    RewriteCond %{REQUEST_FILENAME} !-f 
#    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /ventana-educativa/index.php
</IfModule>